<!DOCTYPE html>
<html>
<head>
	<title>Nik | Photo gallery</title>
	{% load static %} 
	{% load widget_tweaks %}	
	
	<style>
	  @font-face {
		font-family: 'yekan';
		src: url('{% static 'fonts/Yekan.eot' %}');
		src: url('{% static 'fonts/Yekan.eot?#iefix' %}') format('embedded-opentype'),
			 url('{% static 'fonts/Yekan.woff' %}') format('woff'),
			 url('{% static 'fonts/Yekan.ttf' %}') format('truetype'),
			 url('{% static 'fonts/Yekan.svg#BYekan' %}') format('svg');
		font-weight: normal;
		font-style: normal
		}
	</style>
</head>
<body>

	<!-- Here we included the navbar html and css files --> 
		{% include  "main/fa-navbar.html" with order_count=order_count myFilter=myFilter search = search %}

	<footer>
		<script type="text/javascript"> </script>
	</footer>

</body>
</html>