{% load static %}    

<link rel="stylesheet" type="text/css" href="{% static '/css/footer_fa.css' %}">
<div class="footer_container">
   <div class="footer_upper">
    <div class="left_side_footer">
      <div class="footer_logo_container">
      <img class="footer_logo" src="{% static '/icons/logo.png' %}">
      </div>
      <div class="site_lable_footer_container">
      <h5 class="site_lable_footer">تست</h5>
      <p class="footer_description">استفاده از مطالب فروشگاه اینترنتی نیکو فقط برای مقاصد غیر تجاری و با ذکر منبع بلا مانع است. کلیه حقوق این سایت متعلق به شکرت جای خالی میباشد.استفاده از مطالب فروشگاه اینترنتی نیکو فقط برای مقاصد غیر تجاری و با ذکر منبع بلا مانع است. کلیه حقوق این سایت متعلق به شکرت جای خالی میباشد.استفاده از مطالب فروشگاه اینترنتی نیکو فقط برای مقاصد غیر تجاری و با ذکر منبع بلا مانع است. کلیه حقوق این سایت متعلق به شکرت جای خالی میباشد.</p>
      </div>
    </div> 
    <div class="middle_side_footer">
       <ul>
       	 <a href="{% url 'login' %}"><li class="footer_title">ورود به حساب کاربری</li></a>
          <a href="#"><li class="footer_title">درباره سایت حالا هرچی</li></a>
          <li class="footer_title">ارتباط با ما</li>
      </ul>
    </div>
    <div class="right_side_footer">
       <ul>
         <li class=" social_media footer_title">شبکه های مجازی :</li>
         <div class="social_icons">
             <a href="{% url 'login' %}"><li class="footer_title">
               <img class="insta_icon" src="{% static '/icons/instagram.png' %}">
               </li>
            </a>
            <a href="{% url 'login' %}"><li class="footer_title">
               <img class="google_icon" src="{% static '/icons/google.png' %}">
               </li>
            </a>
         </div>
      </ul>
    </div>
    <div class="footer_copy_right">
    <p class="copy_right">استفاده از مطالب فروشگاه اینترنتی نیکو فقط برای مقاصد غیر تجاری و با ذکر منبع بلا مانع است. کلیه حقوق این سایت متعلق به شکرت جای خالی میباشد.</p>
 </div>
 </div>
</div>
<script type="text/javascript"> </script>
